body, html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    background: linear-gradient(to right, #3498db, #9b59b6); /* Blue-purple gradient background */
    color: #ffffff; /* Light text color */
}

.navbar {
    background: linear-gradient(to right, #2980b9, #8e44ad); /* Blue-purple gradient for the navbar */
    border: none;
    position: absolute;
    width: 100%;
    top: 0;
    font-size: 14px;
    z-index: 2;
    color: #ffffff;
}

p {
    font-size: 25px;
}

.navbar-inverse .navbar-nav .active a,
.navbar-inverse .navbar-nav .active a:hover,
.navbar-inverse .navbar-nav .active a:focus {
    background: linear-gradient(to right, #1f618d, #633974); /* Blue-purple gradient for the active link */
    color: #ffffff;
    font-size: 14px;
}

.center-content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

footer {
    color: rgb(30, 20, 20);
    font-size: small;
}
