body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background: linear-gradient(to right, #03045e, #caf0f8);
  color: #ecf0f1;
  font-size: 20px;
}

.container-fluid {
  margin-top: 20px;
}

.btn-default {
  margin-bottom: 20px;
  background-color: #27ae60;
  color: #ffffff;
  border: 1px solid #27ae60;
}

.table {
  width: 100%;
}

.table td {
  text-align: center;
  padding: 20px;
  background-color: #34495e;
}

.table p {
  color: #bdc3c7;
}

.btn-link{
  font-size: 25px;
  padding: 25px;
}
.img-responsive {
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

@media (max-width: 768px) {
  .img-responsive {
      height: auto;
      max-width: 100%;
  }
}

footer {
  color: rgb(190, 190, 190);
  font-size: small;
}
