body, html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    background-color: #4e7328; /* Darker background color */
    color: #ffffff; /* Light text color */
}

.navbar {
    background-color: #0e5e33; /* Darker shade for the navbar */
    border: none;
    position: absolute;
    width: 100%;
    top: 0;
    font-size: 14px;
    z-index: 2;
    color: #ffffff;
}

.navbar-inverse .navbar-nav .active a,
.navbar-inverse .navbar-nav .active a:hover,
.navbar-inverse .navbar-nav .active a:focus {
    background-color: #0b4e28; /* Slightly darker shade for the active link */
    color: #ffffff;
    font-size: 14px;
}

.center-content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

footer{
    color: rgb(30, 20, 20);
    font-size: small;
}